temp_read.md
assignment_03/dataset
assignment_03/embedding
assignment_03/faceScrub.zip
lab_01/facescrub_dataset_samples
lab_01/new_mtcnn
lab_01/facescrub_dataset_samples.zip

lab_02/database
lab_02/validation
lab_02/facescrub_dataset_cleaned2
results/
saved_bert_model/

