temp_read.md
assignment_03/dataset
assignment_03/embedding
assignment_03/faceScrub.zip
lab_01/facescrub_dataset_samples
lab_01/new_mtcnn
lab_01/facescrub_dataset_samples.zip

lab_02/database
lab_02/validation
lab_02/facescrub_dataset_cleaned2
results/
saved_bert_model/

lab_04/dataset/bank-additional/bank-additional.csv
lab_04/dataset/bank-additional/bank-additional-names.txt
lab_04/dataset/bank-additional/.DS_Store
lab_04/dataset/bank-additional/.Rhistory
lab_05/2408207010029_Najwan Yusnianda_Praktikum5 copy.ipynb
